@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root {
    /* main background */
    --very-dark-blue: hsl(233, 47%, 7%);
    /* card background */
    --dark-desaturated-blue: hsl(244, 38%, 16%);
    /* accent */
    --soft-violet: hsl(277, 64%, 61%);
    /* main heading stats */
    --white: hsl(0, 0%, 100%);
    /* main paragraph */
    --slightly-transparent-whiteP: hsla(0, 0%, 100%, 0.75);
    /* stat heading */
    --slightly-transparent-whiteH: hsla(0, 0%, 100%, 0.6);
}



*,
*:before,
*:after {

    box-sizing: inherit;
}

html {
    /* size */
    box-sizing: border-box;
    /* set 1rem=10px */
    font-size: 62.5%;

    /* Typographie */
    font-family: 'Red Hat Display', sans-serif;

    /* background */
    background-color: var(--very-dark-blue);
}


/* ###################### Mobile first ################## */
body {
    /* Typographie */
    font-size: 1.5rem;
    font-family: 'Lexend Deca', sans-serif;

    /* background*/
    background-color: var(--dark-desaturated-blue);

    /* space */
    width: 90%;
    margin: 8rem auto;
    padding: 0;
    border-radius: 1rem;

    /* flex */
    display: flex;
    flex-direction: column;
}

header {
    /* size */
    width: 100%;
    height: 272.8px;

    /* blur and border */
    filter: blur(1px);

    /* flex */
    display: flex;
}

header div {
    /* size */
    width: 100%;
    height: auto;

    /* border-radius */
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;

    /* background and opacity */
    background-color: var(--dark-desaturated-blue);
    background-image: url(images/image-header-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5;

    /* block */
    display: block;
}

main {
    text-align: center
}

h1 {
    color: var(--white);
}

section:first-of-type {
    margin-bottom: 0.5rem;
    padding-top: 0;
}

section:last-of-type h1 {
    margin-bottom: 0;
}

section:last-of-type p {
    margin-top: 1.0rem;
}

p {
    color: var(--slightly-transparent-whiteP)
}

section a {
    text-decoration: none;
    color: var(--soft-violet);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 47em) {
    body {
        /* size */
        width: 85%;

        /* space */
        margin: 20% auto;
        padding: 0;

        /* typographie */
        font-family: 'Red Hat Display', sans-serif;

        /* background */
        background-color: var(--very-dark-blue);
    }

    body > div.container {
        /* background and border */
        background-color: var(--dark-desaturated-blue);
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;

        border-top-right-radius: 1rem;


        /* flex */
        display: flex;
        flex-direction: row-reverse;
    }

    main {
        /* size */
        width: 50%;

        /* space */
        margin: 0 auto;
        padding: 4rem 5rem 2rem 4rem;

        /* flex */
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    header {
        /* size */
        width: 50%;
        height: auto;

        /* flex */
        display: flex;
        flex-direction: column;
    }

    section:first-of-type {
        /* space */
        padding-top: 0;
        padding-right: 1rem;

        /* typographie */
        text-align: left;

        /* flex */
        flex: 1 0 auto;
    }

    section:last-of-type {
        /* flex */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex: 1 1 auto;
    }

    section:last-of-type p {
        padding: 0 1rem;
    }

    header div {
        background-image: url(images/image-header-desktop.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex: 1 0 auto;
        border-bottom-right-radius: 1rem;
        border-top-left-radius: 0;
    }

    .attribution {
        margin: 0 auto;
        color: var(--slightly-transparent-whiteH);
    }
}
